---
import Layout from "@/layouts/Layout.astro";
import { Code } from "astro:components";
import sourceCode from "./_sketch.frag?raw";
---

<script>
  import GlslRenderer from "@glsl-ts";
  import frag from "./_sketch.frag?raw";
  import GUI from "lil-gui";

  const container = document.querySelector("#wrapper") as HTMLElement;
  const uniforms = {
    amplitude: 0.125,
    speed: 0.25,
    wavelength: 1.5,
  };

  const gl = new GlslRenderer({ container, frag, uniforms });
  gl.play();

  // Update custom uniforms
  const gui = new GUI();

  const functions = {
    togglePlay: () => {
      if (gl.paused) gl.play();
      else gl.pause();
    },
    showCode: () => {
      document.querySelector<HTMLDialogElement>("#code-dialog")?.showModal();
    },
  };

  gui.add(uniforms, "amplitude", 0.02, 0.5, 0.01).onChange((value: number) => {
    gl.updateUniform("amplitude", value);
  });

  gui.add(uniforms, "wavelength", 0.5, 5.0, 0.01).onChange((value: number) => {
    gl.updateUniform("wavelength", value);
  });

  gui.add(uniforms, "speed", 0.0, 2.0, 0.1).onChange((value: number) => {
    gl.updateUniform("speed", value);
  });

  gui.add(functions, "showCode").name("Show code");
  gui.add(functions, "togglePlay").name("Play/pause");

  const dialog = document.querySelector<HTMLDialogElement>("#code-dialog");
  const dialogClose =
    document.querySelector<HTMLButtonElement>("#code-dialog-close");

  dialogClose?.addEventListener("click", () => {
    dialog?.close();
  });
</script>

<Layout>
  <section id="wrapper"></section>
  <!-- <div class="dialog">
    <Code code={foo} lang="glsl" theme="night-owl" />
  </div> -->
  <dialog id="code-dialog">
    <div class="code-dialog-contents">
      <header>
        <span>Source code</span>
        <button id="code-dialog-close" aria-label="Close dialog">
          <svg viewBox="0 0 16 16" height="16" width="16">
            <line
              x1="2"
              y1="2"
              x2="14"
              y2="14"
              stroke="currentColor"
              stroke-width="1.5"></line>
            <line
              x1="2"
              y1="14"
              x2="14"
              y2="2"
              stroke="currentColor"
              stroke-width="1.5"></line>
          </svg>
        </button>
      </header>
      <Code code={sourceCode} lang="glsl" theme="night-owl" tabindex={-1} />
    </div>
  </dialog>
</Layout>

<style>
  section {
    height: 100svh;
    touch-action: none;
  }

  #code-dialog-trig {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
  }

  #code-dialog {
    width: 90vw;
    max-width: 800px;
    height: 100vh;
    max-height: 100vh;
    margin-right: 0;
    border: none;
    background-color: #011627;
    padding: 0;
    scrollbar-gutter: stable;

    .code-dialog-contents {
      display: grid;
      gap: 1rem;
      padding: 2rem;

      header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.875rem;

        span {
          font-weight: 600;
          opacity: 0.6;
        }

        button {
          background: none;
          border: none;
          cursor: pointer;
          padding: 0.5rem;
          svg {
            vertical-align: bottom;
          }
        }
      }

      & > pre {
        margin: 0;
        scrollbar-gutter: stable;
      }
    }

    &::backdrop {
      background: rgb(255 255 255 / 0.25);
    }
  }
</style>
