---
import Layout from "@/layouts/Layout.astro";
---

<script>
  import GlslRenderer from "@/../../dist";
  import frag from "./_sketch.frag?raw";

  const container = document.querySelector("#wrapper") as HTMLElement;
  const uniforms = { webcam: "webcam" };

  // Initialize webcam as a texture
  const gl = new GlslRenderer({ container, frag, uniforms });

  gl.play();
</script>

<Layout>
  <section id="wrapper"></section>
</Layout>

<style>
  section {
    height: 100svh;
    touch-action: none;
  }
</style>
