---
import Layout from "@/layouts/Layout.astro";
---

<script>
  import GlslRenderer from "@/../../dist";
  import frag from "./_sketch.frag?raw";
  import GUI from "lil-gui";

  const container = document.querySelector("#wrapper") as HTMLElement;
  const uniforms = {
    texture: "/abstract.jpg",
    stepCount: 2,
    offset: 0,
    noise: false,
    noiseAmount: 0.25,
  };

  // Initialize static texture
  const gl = new GlslRenderer({ container, frag, uniforms });

  gl.play();

  // Update custom uniforms
  const gui = new GUI();

  gui.add(uniforms, "stepCount", 2, 10, 1).onChange((value: number) => {
    gl.updateUniform("stepCount", value);
  });

  gui.add(uniforms, "offset", -0.5, 0.5, 0.1).onChange((value: number) => {
    gl.updateUniform("offset", value);
  });

  gui.add(uniforms, "noise").onChange((value: boolean) => {
    gl.updateUniform("noise", value);
    noiseAmountController.disable(!value);
  });

  const noiseAmountController = gui
    .add(uniforms, "noiseAmount", 0, 1, 0.01)
    .onChange((value: number) => {
      gl.updateUniform("noiseAmount", value);
    })
    .disable(!uniforms.noise);
</script>

<Layout>
  <section id="wrapper"></section>
</Layout>

<style>
  section {
    height: 100svh;
    touch-action: none;
  }
</style>
