---
import Layout from "@/layouts/Layout.astro";
---

<script>
  import GlslRenderer from "@/../../dist";
  import frag from "./_sketch.frag?raw";
  import GUI from "lil-gui";

  const container = document.querySelector("#wrapper") as HTMLElement;
  const vidSrc =
    "https://res.cloudinary.com/andystewartdesign/video/upload/v1743723961/misc/2795731-hd_1920_1080_25fps.mp4";

  // Initialize dynamic (video) texture
  const gl = new GlslRenderer(container, frag, {
    u_texture: { type: "video", value: vidSrc },
    u_gridSize: { type: "float", value: 60 },
    u_radius: { type: "float", value: 0.33 },
    u_inverted: { type: "bool", value: true },
    u_monotone: { type: "bool", value: false },
  });

  gl.play();

  // Update custom uniforms
  const gui = new GUI();

  const guiOptions = {
    gridSize: 60,
    radius: 0.33,
    inverted: true,
    monotone: false,
  };

  gui.add(guiOptions, "gridSize", 4, 100, 1).onChange((value: number) => {
    gl.updateUniform("u_gridSize", parseFloat(value.toString()));
  });

  gui.add(guiOptions, "radius", 0.25, 0.9, 0.01).onChange((value: number) => {
    gl.updateUniform("u_radius", parseFloat(value.toString()));
  });

  gui.add(guiOptions, "inverted").onChange((value: boolean) => {
    gl.updateUniform("u_inverted", value);
  });

  gui.add(guiOptions, "monotone").onChange((value: boolean) => {
    gl.updateUniform("u_monotone", value);
  });
</script>

<Layout>
  <section id="wrapper"></section>
</Layout>

<style>
  section {
    height: 100vh;
  }
</style>
