---
import Layout from "@/layouts/Layout.astro";
---

<script>
  import GlslRenderer from "@glsl-ts";
  import frag from "./_sketch.frag?raw";
  // import GUI from "lil-gui";

  const container = document.querySelector("#wrapper") as HTMLElement;
  const uniforms = {
    texture:
      "https://res.cloudinary.com/andystewartdesign/video/upload/v1743723961/misc/2795731-hd_1920_1080_25fps.mp4",
    noise: "/blue-noise.png",
  };

  // Initialize dynamic (video) texture
  const gl = new GlslRenderer({ container, frag, uniforms, glVersion: 3 });

  gl.play();

  // Update custom uniforms
  // const gui = new GUI();

  // gui
  //   .add(uniforms, "ditherType", {
  //     ["Bayer 2x2"]: "2",
  //     ["Bayer 4x4"]: "4",
  //     ["Bayer 8x8"]: "8",
  //     ["Cluster"]: "10",
  //   })
  //   .onChange((value: number) => {
  //     gl.updateUniform("ditherType", value);
  //   });
  // gui.add(uniforms, "monotone").onChange((value: boolean) => {
  //   gl.updateUniform("monotone", value);
  // });
</script>

<Layout>
  <section id="wrapper"></section>
</Layout>

<style>
  section {
    height: 100svh;
    touch-action: none;
  }
</style>
