---
const sketches = import.meta.glob("@/pages/**/_sketch.frag", { query: "?raw" });
const pages = Object.keys(sketches).map((path) => {
  const segments = path.split("/");
  const id = segments.at(-2);
  const label = id
    ?.split("-")
    .map((word) => word.charAt(0).toUpperCase() + word.slice(1))
    .join(" ");
  const href = segments.reduce<string>((acc, seg, i) => {
    if (i <= 2 || i === segments.length - 1) {
      return acc;
    }
    return `${acc}/${seg}`;
  }, "");
  return { id, href, label };
});
---

<div>
  <div>
    <ul>
      {
        pages.map((page) => (
          <li>
            <a href={page.href}>{page.label}</a>
          </li>
        ))
      }
    </ul>
  </div>
  <div><slot /></div>
</div>
