<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="preload"
      href="/fonts/CabinetGrotesk-Variable.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <title>Shdr: a lil WebGL library</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  @font-face {
    font-family: "CabinetGrotesk";
    src:
      url("/fonts/CabinetGrotesk-Variable.woff2") format("woff2"),
      url("/fonts/CabinetGrotesk-Variable.woff") format("woff"),
      url("/fonts/CabinetGrotesk-Variable.ttf") format("truetype");
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
  }

  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
    color-scheme: dark;
    background: #080808;
  }

  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  :is(*, *:before, *:after) {
    box-sizing: border-box;
  }
</style>
