---
import Layout from "@/layouts/Layout.astro";
---

<script>
  import GlslRenderer from "@/../../dist";
  import frag from "./_sketch.frag?raw";

  const container = document.querySelector("#wrapper") as HTMLElement;

  // Initialize custom uniforms
  const gl = new GlslRenderer(container, frag, {
    u_gridSize: {
      type: "float",
      value: 12,
    },
  });
  gl.play();

  // Update custom uniforms
  const input = document.querySelector("#size") as HTMLInputElement;
  input.addEventListener("input", (e) => {
    const { target } = e;
    if (target instanceof HTMLInputElement) {
      gl.updateUniform("u_gridSize", parseFloat(target.value));
    }
  });
</script>

<Layout>
  <section id="wrapper"></section>
  <div style="position: fixed; top: 2rem; left: 2rem">
    <input id="size" type="range" min="4" max="20" />
  </div>
</Layout>

<style>
  section {
    height: 100vh;
  }
</style>
