---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <section>
    <ul>
      <li>
        <a href="/basic">Basic</a>
      </li>
      <li>
        <a href="/custom-uniforms">Custom Uniforms</a>
      </li>
      <li>
        <a href="/static-texture">Static Texture (Image)</a>
      </li>
      <li>
        <a href="/dynamic-texture">Dynamic Texture (Video)</a>
      </li>
      <li>
        <a href="/webcam">Webcam</a>
      </li>
    </ul>
  </section>
</Layout>

<style>
  section {
    padding: 2rem;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
</style>
