---
import Layout from "@/layouts/Layout.astro";
const sketches = import.meta.glob("./**/_sketch.frag");
const pages = Object.keys(sketches).map((path) => {
  const segments = path.split("/");
  const id = segments.at(-2);
  const label = id
    ?.split("-")
    .map((word) => word.charAt(0).toUpperCase() + word.slice(1))
    .join(" ");
  const href = segments.reduce<string>((acc, seg, i) => {
    if (i === 0 || i === segments.length - 1) {
      return acc;
    }
    return `${acc}/${seg}`;
  }, "");
  return { id, href, label };
});
---

<Layout>
  <section>
    <ul>
      {
        pages.map((page) => (
          <li>
            <a href={page.href}>{page.label}</a>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>

<style>
  section {
    padding: 2rem;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
</style>
