---
import Layout from "@/layouts/Layout.astro";
---

<script>
  import GlslRenderer from "@glsl-ts";
  import frag from "./_sketch.frag?raw";
  import GUI from "lil-gui";

  const container = document.querySelector("#wrapper") as HTMLElement;
  const uniforms = { blur: 50, amplitude: 0.125, speed: 0.25, wavelength: 1.5 };

  const gl = new GlslRenderer({ container, frag, uniforms });
  gl.play();

  // Update custom uniforms
  const gui = new GUI();

  // gui.add(uniforms, "blur", 10, 200, 1).onChange((value: number) => {
  //   gl.updateUniform("blur", value);
  // });

  gui.add(uniforms, "amplitude", 0.02, 0.5, 0.01).onChange((value: number) => {
    gl.updateUniform("amplitude", value);
  });

  gui.add(uniforms, "wavelength", 0.5, 5.0, 0.01).onChange((value: number) => {
    gl.updateUniform("wavelength", value);
  });

  gui.add(uniforms, "speed", 0.0, 2.0, 0.1).onChange((value: number) => {
    gl.updateUniform("speed", value);
  });
</script>

<Layout>
  <section id="wrapper"></section>
</Layout>

<style>
  section {
    height: 100svh;
    touch-action: none;
  }
</style>
