---
import Layout from "@/layouts/Layout.astro";
import CodeDialog from "@/components/code-dialog/index.astro";
import sourceCode from "./_sketch.frag?raw";
---

<script>
  import GlslRenderer from "@glsl-ts";
  import frag from "./_sketch.frag?raw";
  import { createGui } from "@/utils/create-gui";

  const container = document.querySelector("#wrapper") as HTMLElement;
  const uniforms = {
    noiseScale: 2,
    asciiScale: 8,
    // brightness: 0,
    speed: 0.15,
  };

  // Initialize custom uniforms
  const gl = new GlslRenderer({ container, frag, uniforms, glVersion: 3 });
  gl.play();

  createGui({
    gl,
    dialogClass: "code-dialog",
    setup: (gui) => {
      gui.add(uniforms, "noiseScale", 1, 10, 0.1).onChange((value: number) => {
        gl.updateUniform("noiseScale", value);
      });

      gui.add(uniforms, "asciiScale", 4, 16, 1).onChange((value: number) => {
        gl.updateUniform("asciiScale", value);
      });

      gui.add(uniforms, "speed", 0, 1, 0.01).onChange((value: number) => {
        gl.updateUniform("speed", value);
      });
    },
  });
</script>

<Layout>
  <section id="wrapper"></section>
  <CodeDialog class="code-dialog" code={sourceCode} />
</Layout>

<style>
  section {
    height: 100svh;
    touch-action: none;
  }
  canvas {
    border: 2px solid green;
  }
</style>
