---
import Layout from "@/layouts/Layout.astro";
---

<script>
  import GlslRenderer from "@/../../dist";
  import frag from "./_sketch.frag?raw";

  const container = document.querySelector("#wrapper") as HTMLElement;

  // Initialize dynamic (video) texture
  const gl = new GlslRenderer(container, frag, {
    u_texture: {
      type: "video",
      value:
        "https://res.cloudinary.com/andystewartdesign/video/upload/v1736178932/playbook-animations/playbook-home-image-gallery.mp4",
    },
  });
  gl.play();
</script>

<Layout>
  <section id="wrapper"></section>
</Layout>

<style>
  section {
    height: 100vh;
  }
</style>
