---
import Layout from "@/layouts/Layout.astro";
import CodeDialog from "@/components/code-dialog/index.astro";
import sourceCode from "./_sketch.frag?raw";
---

<script>
  import Shdr from "@shdr";
  import frag from "./_sketch.frag?raw";
  import { createGui } from "@/utils/create-gui";

  const container = document.querySelector("#wrapper") as HTMLElement;
  const uniforms = {
    texture: "/abstract.jpg",
    pixelation: 40,
  };

  // Initialize static texture
  const gl = new Shdr({ container, frag, uniforms, glVersion: 1 });

  gl.play();

  // Update custom uniforms
  createGui({
    dialogClass: "code-dialog",
    setup: (gui) => {
      gui.add(uniforms, "pixelation", 1, 120, 1).onChange((value: number) => {
        gl.updateUniform("pixelation", value);
      });
    },
  });
</script>

<Layout>
  <section id="wrapper"></section>
  <CodeDialog class="code-dialog" code={sourceCode} />
</Layout>

<style>
  section {
    height: 100svh;
    touch-action: none;
  }
</style>
