---
import Layout from "@/layouts/Layout.astro";
---

<script>
  import GlslRenderer from "@/../../dist";
  import frag from "./_sketch.frag?raw";
  import GUI from "lil-gui";

  const container = document.querySelector("#wrapper") as HTMLElement;

  // Initialize static texture
  const gl = new GlslRenderer(container, frag, {
    u_texture: "/abstract.jpg",
    u_pixelWidth: 40,
    u_pixelation: 40,
  });

  gl.play();

  // Update custom uniforms
  const gui = new GUI();

  const guiOptions = {
    pixelation: 40,
  };

  gui.add(guiOptions, "pixelation", 1, 120, 1).onChange((value: number) => {
    gl.updateUniform("u_pixelation", value);
  });
</script>

<Layout>
  <section id="wrapper"></section>
</Layout>

<style>
  section {
    height: 100vh;
  }
</style>
