---
import Layout from "@/layouts/Layout.astro";
---

<script>
  import GlslRenderer from "@glsl-ts";
  import frag from "./_sketch.frag?raw";
  import GUI from "lil-gui";

  const container = document.querySelector("#wrapper") as HTMLElement;
  const uniforms = {
    texture: "/abstract.jpg",
    pixelation: 40,
  };

  // Initialize static texture
  const gl = new GlslRenderer({ container, frag, uniforms, glVersion: 1 });

  gl.play();

  // Update custom uniforms
  const gui = new GUI();

  gui.add(uniforms, "pixelation", 1, 120, 1).onChange((value: number) => {
    gl.updateUniform("pixelation", value);
  });
</script>

<Layout>
  <section id="wrapper"></section>
</Layout>

<style>
  section {
    height: 100svh;
    touch-action: none;
  }
</style>
