---
import Layout from "@/layouts/Layout.astro";
---

<script>
  import GlslRenderer from "@glsl-ts";
  import frag from "./_sketch.frag?raw";
  import GUI from "lil-gui";

  const container = document.querySelector("#wrapper") as HTMLElement;
  const uniforms = {
    dpi: 4,
  };

  // Initialize custom uniforms
  const gl = new GlslRenderer({ container, frag, uniforms, glVersion: 1 });
  gl.play();

  // Update custom uniforms
  const gui = new GUI();

  gui.add(uniforms, "dpi", 4, 20, 1).onChange((value: number) => {
    gl.updateUniform("dpi", parseFloat(value.toString()));
  });
</script>

<Layout>
  <section id="wrapper"></section>
</Layout>

<style>
  section {
    height: 100svh;
    touch-action: none;
  }
</style>
