---
import Layout from "@/layouts/Layout.astro";
import CodeDialog from "@/components/code-dialog/index.astro";
import sourceCode from "./_sketch.frag?raw";
---

<script>
  import Shdr from "@shdr";
  import frag from "./_sketch.frag?raw";
  import { createGui } from "@/utils/create-gui";

  const container = document.querySelector("#wrapper") as HTMLElement;
  const uniforms = {
    texture:
      "https://res.cloudinary.com/andystewartdesign/video/upload/v1743723961/misc/2795731-hd_1920_1080_25fps.mp4",
    ditherType: "2",
    monotone: true,
  };

  // Initialize dynamic (video) texture
  const gl = new Shdr({ container, frag, uniforms, glVersion: 3 });
  gl.onLoad = () => {
    container.dataset.loaded = "true";
    gl.play();
  };

  const ditherTypes = {
    ["Bayer 2x2"]: "2",
    ["Bayer 4x4"]: "4",
    ["Bayer 8x8"]: "8",
    ["Cluster"]: "10",
  };

  createGui({
    gl,
    dialogClass: "code-dialog",
    setup: (gui) => {
      gui.add(uniforms, "ditherType", ditherTypes).onChange((value: number) => {
        gl.updateUniform("ditherType", value);
      });
      gui.add(uniforms, "monotone").onChange((value: boolean) => {
        gl.updateUniform("monotone", value);
      });
    },
  });
</script>

<Layout>
  <section id="wrapper"></section>
  <CodeDialog class="code-dialog" code={sourceCode} />
</Layout>

<style>
  section {
    height: 100svh;
    touch-action: none;
    opacity: 0;
    transition: opacity 500ms ease-out;

    &[data-loaded] {
      opacity: 1;
    }
  }
</style>
