---
import Layout from "@/layouts/Layout.astro";
import CodeDialog from "@/components/code-dialog/index.astro";
import sourceCode from "./_sketch.frag?raw";
---

<script>
  import Shdr from "@shdr";
  import frag from "./_sketch.frag?raw";

  import { createGui } from "@/utils/create-gui";

  const container = document.querySelector("#wrapper") as HTMLElement;

  const gl = new Shdr({ container, frag });
  gl.play();
  createGui({ gl, dialogClass: "code-dialog" });
</script>

<Layout>
  <section id="wrapper"></section>
  <CodeDialog class="code-dialog" code={sourceCode} />
  <span class="attribution">
    by
    <a href="https://maximmcnair.com/" target="_blank">Maxim McNair</a>
  </span>
</Layout>

<style>
  section {
    height: 100svh;
    touch-action: none;
  }
  .attribution {
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    background: rgb(0 0 0 / 0.8);
    color: rgb(255 255 255 / 0.7);
    padding: 0.5rem 1rem 0.6rem;
    outline: 1px solid rgb(255 255 255 / 0.1);
    border-radius: 100vmax;
    font-weight: 500;
    font-size: 0.875rem;

    a {
      text-decoration: none;
      color: white;
      line-height: 1;
    }
  }
</style>
